body {
    background-color:#cf9e96;
    color: #ead7cb;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background: rgba(113,105,101,0.4);
    color: #ead7cb;
}

/* headerの「そだてる」「ひろば」のcss */
header nav ul {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
header nav ul li {
    margin: 0 10px;
}
header nav a {
    color: #ead7cb;
}

a {
    text-decoration: none;
}

div {
    text-align:center;
    margin: 20px;
}

img {
        border: none;
        width: 330px;
		max-width: 50%;
        display: block;
        margin: 0 auto;
        text-align:center;
}

footer {
    padding: 20px;
    text-align: center;
    margin-top: 4em;
    font-size: .9rem;
    color: #777;
}

/* 「どのごはんをあげる？」のcss */
.question{
    font-size: 1.5em;
    font-weight: bolder;
}

/* 「成長！」のcss */
.adult{
    font-size: 2em;
    font-weight: bolder;
}

/* 「きいろのごはん」などのcss */
.btn {
    all: unset;
    display: inline-block;
    padding: 2px 8px;
    border: none;
    border-radius: 4px;
    background: #ead7cb;
    color: #716965;
    font-size: .9rem;
    cursor: pointer;
}
/*クリックしたときに色が終わるcss */
.btn-yellow:active{
    background: #ffe380;
}
.btn-green:active{
    background: #bfdeae;
}
.btn-brown:active{
    background: #bc9678;
}
.btn-orange:active{
    background: #fed891;
}
.btn-rainbow:active{
    background: linear-gradient(to right,#db6e86,#ec947a,#fee55f,#95d98a,#00d1cf,#00b5e4,#ba58e2);
}
.btn-blue:active{
    background: #748bdb;
}
.btn-pink:active{
    background: #f9d0c6;
}
.btn-gold:active{
    background: linear-gradient(to right ,#e6b422, #e6b422, #fff9e6, #e6b422);
}

.btn-group-x {
    display: flex;
}

/* ひろばのボックス設定 */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.collection-item {
    width: calc(50% - 20px); /* 2分割 */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.collection-img {
    width: 420px;
    max-width: 100%;
    height: auto;
}

/* create.blade.phpのcss */
ul.alert {
    padding: 15px 15px 15px 40px;
    border-radius: 4px;
    background: #f8d6d9;
    color: #721c24;
}
.error-message {
    margin-top: 5px;
    font-size: 14px;
    color: #c00;
}
.is-invalid {
    background-color: #fce4ec;
    border-color: #f48fb1;
}
/* フォームの形式 */
.form-group {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.form-design {
    width: 100%;
    max-width: 400px;
    padding: 8px 10px;
    font-size: 1rem;
    text-align:center;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 6px;
}
textarea.form-design {
    height: 200px;
}

/* show.blade.phpのcss */
.show-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.left, .right, .under {
    text-align: center;
}
.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right {
  text-align: center;
  margin-top: 44px;
}
.under {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    margin-top: 20px;
}
.show-grid img {
    max-width: 70%;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}
.name-box, .date-box, .memo-box{
    background: #ead7cb;
    color: #716965;
    padding: 8px 10px;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.left .label {
  margin-left: 90px;
  font-weight: bolder;
}
.right .label {
  margin-left: 40px;
  font-weight: bolder;
}
.name-box{
    height: 45px;
    width: 200px;
    max-width: 70%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-box{
    height: 30px;
    width: 250px;
    max-width: 70%;
    margin-right: 40px;
}
.memo-box{
    height: 200px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    padding: 20px 40px;
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.btn-group form {
    display: inline-block;
    margin: 0;
}
.btn-group .btn {
    vertical-align: middle;
}

/* dressup.blade.phpのcss */
input[type=radio] {
    display:none;
}
label.btn {
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    border-radius: 20px;
}
input[type=radio]:checked + label {
    background-color: #ed8c7d;
    color: #ead7cb;
}
.dressup-container {
    position: relative;
    width: 330px;
    height: 330px;
    margin: 0 auto;
}
.animal-img,.dressup-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
    height: 330px;
    max-width: none;
}
.animal-img {
    z-index: 1;
}
.dressup-img {
    z-index: 2;
    pointer-events: none;
    top: 0px;
    left: 0px;
}

/* 十字パッドのcss */
.cross-layout {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    margin: 3em;
}
.cross-layout input[type="button"] {
    display: block;
    background: none;
    border: none;
    font-size: 4em;
    color: #ead7cb;
    cursor: pointer;
    border-radius: 90%;
}
.cross-layout input[type="button"]:hover {
    color: #ccc;
}
.top-mark {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.left-mark {
    display: block;
    transform: rotate(-90deg);
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.center-mark {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.right-mark {
    transform: rotate(90deg);
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    
}
.bottom-mark {
    transform: rotate(180deg);
    grid-row: 3 / 4;
    grid-column: 2 / 3;
} 
.cross-layout input.small-mark {
    font-size: 3em;
    font-weight: bolder;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    transform: translateY(-15px);
}
.cross-layout input.big-mark {
    font-size: 3em;
    font-weight: bolder;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    transform: translateY(-15px);
}

/* 画面が小さい時のcss */
@media (max-width: 768px) {
    .show-grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .sp-only {
        display: none;
    }
    .name-box, .date-box {
        height: 45px;
        width: 250px;
        max-width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
    .right {
        margin-top: -30px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .left .label, .right .label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
}